/docs/*
!/docs/pictures
/docs/pictures/*
!/docs/pictures/screenshot_1.png
!/docs/pictures/screenshot_2.png
/node_modules
/pyenv
/transcrypt
/manage_env
audio_controller/audio_controller/static/js/fontawesome-free-5.13.1-web
audio_controller/audio_controller/static/js/bootstrap-4.3.1-dist
__pycache__