<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Psalmbord</title>
    <link rel='stylesheet' href="/static/js/jquery-ui.min.css">
    <link rel='stylesheet' href="/static/js/bootstrap-4.1.3-dist/css/bootstrap.css">
    <link rel='stylesheet' href="/static/js/fontawesome-free-5.13.1-web/css/all.css">
    <link rel='stylesheet' href="/static/css/psalmbord.css">

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap-4.1.3-dist/js/bootstrap.bundle.js"></script>
    <script src="/static/js/bootstrap-toggle.min.js"></script>

</head>

<body>
    <div class="container">
    </div>
</body>

<script>

    let url = window.location.origin + "/" + "psalmbord"
    let container = $(".container")
    let interval = 10000 // milliseconds
    let hasFailed = false

    function success(psalmbord_html) {
        // If update has failed once, but now seems to succeed,
        // refresh complete page since server might be updated.
        // This can possibly be disabled after development
        if (hasFailed) {
            location.reload()
        }
        container.empty()
        container.append($(psalmbord_html))

        setTimeout(update, interval)
    }

    function error() {
        hasFailed = true
        setTimeout(update, interval)
    }

    function update() {
        $.ajax({
            type: "POST",
            url: url,
            data: JSON.stringify({ html: true }),
            success: success,
            error: error,
            contentType: "application/json; charset=utf-8",
        })
    }

    update()

</script>

</html>