body {
    background-color: black;
    color: white;
    font-size: 7vh;
    font-family: ui-rounded;
}

.container {
    padding: 2vmin;
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-size: 5vh;
    text-align: center;
}

.regel {
    display: inline-block;
    width: 100%;
}

.regel div {
    padding-right: 1vw;
    display: inline-block;
    white-space: nowrap;
}

.col1 {
    min-width: 50%;
}

.col2 {}

.col3 {
    /* width: 40%; */
    /* padding-left: 5vw; */
    /* text-align: right; */
    float: right;
}