/* courier-prime-regular - latin */
@font-face {
    font-family: 'Courier Prime';
    src: local(''),
        url('../fonts/courier-prime-v7-latin-regular.woff2') format('woff2'),
        url('../fonts/courier-prime-v7-latin-regular.woff') format('woff');
}

.font_arial {
    font-family: Arial, Helvetica, sans-serif;
}

.font_cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.font_courier_prime {
    font-family: 'Courier Prime', monospace;
}

.font_courier_new {
    font-family: 'Courier New', Courier, monospace;
}

.font_georgia {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.font_gill_sans {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font_verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    background-color: black;
    color: white;
    font-size: calc(100vh / (var(--regels) * 1.1 + 3.5));
    line-height: calc(100vh / (var(--regels) * 1.05));
    padding: 0;
    overflow: hidden;
}

.container {
    padding: 2vh 2vw 0;
    max-width: 100%;
    max-height: 100%;
}

.title {
    text-align: center;
}

.regel {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh / (var(--regels) * 1.1 + 3.5)); /* lege regels */
}
.regel .col1 {
    display: flex;
}
.regel .col1 span {
    padding: 0 1vw; 
}
.regel .col1 span:last-child {
    margin-left: auto; /* rechts uitlijnen */
}
.regel .col1 span:first-child {
    margin-left: 0; /* 1 woord niet rechts uitlijnen */
}
.regel .col2 {
    padding: 0 1vw; 
    text-align: center;
}
.regel .col3 {
    display: flex;
    flex-wrap: wrap; /* zo nodig op volgende regel verdergaan */
    justify-content: end; /* rechts uitlijnen */
}
.regel .col3 span {
    padding-left: 5vw; 
}
.regel span:first-child {
    padding-left: 0;
}
.regel span:last-child {
    padding-right: 0;
}